{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'country/page.html.twig' %}

{% block innerContent %}


	<ul>
		<li>
			<div class="">{{  country.title }}</div>
		</li>
	</ul>


	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/common/mainListEvent.html.twig' with {'event':event }  %}
		{% else %}
			<li class="nodata">
				There are no upcoming events.
			</li>
		{% endfor %}
	</ul>

{% endblock %}
