{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'page.html.twig' %}

{% block content %}

	<h2>All Events</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
		</ul>
		<div id="innerPage">

			<p>To see current events only, <a href="{{ "/event/" | internalLinkToDir }}">click here</a></p>

			<ul class="mainListEvents">
				{% for event in events %}
					{% include '/common/mainListEvent.html.twig' with {'event':event }  %}
				{% else %}
					<li class="nodata">
						There are no events.
					</li>
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>

{% endblock %}
