{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}


<li class="group">
	<div class="title"><a href="{{ ("/group/" ~ group.slug) | internalLinkToDir }}">{{ group.title }}</a></div>
	{{ group.description |  truncate(1000) | nl2br | linkify }}
	<div class="afterGroupListing"></div>
</li>