{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'area/page.html.twig' %}

{% block tabDetails %}currentTab{% endblock %}

{% block innerContent %}

	{%  if areas %}
		<ul class="">
			{% for area in areas %}
				<li><a href="{{ ("/area/" ~ area.slug) | internalLinkToDir }}">{{  area.title }}</a></li>
			{% endfor %}
		</ul>
	{%  endif %}

	<ul class="mainListEvents">
		{% for event in events %}
			{% include '/common/mainListEvent.html.twig' with {'event':event }  %}
		{% else %}
			<li class="nodata">
				There are no upcoming events.
			</li>
		{% endfor %}
	</ul>


{% endblock %}
