{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'page.html.twig' %}

{% block content %}

	<h2>Countries</h2>

	<div id="innerPageWrapper">
		<ul id="innerPageActions">
		</ul>
		<div id="innerPage">

			<ul class="mainListCountries">
				{%  for country in countries %}
					<li class="country">
						<div class="title"><a href="{{ ("/country/" ~ country.twoCharCode|upper) | internalLinkToDir }}">{{  country.title }}</a></div>
					</li>
				{% endfor %}
			</ul>

			<div id="afterInnerPageContent"></div>
		</div>
	</div>

{% endblock %}
